@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main{
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

  .navbar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content:space-between;
   
}

.line{
  height: 2.5px;
  width: 24px;
 transition: all ease-in-out 0.4s;
  /* transform: translate(-10px)  rotate(45deg); */
}
    


.paper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 2rem;
  margin-top: 2rem;
}

@media only screen and (max-width:768px) {
  .menu{
      position: absolute;
      top: -15px;
      right: -2px;
      padding-top: 2rem;
      background-color: white;
      color: #71C9CE;
      transform: translateX(100%);
      z-index: 0;
      width: 50%;
      transition: 0.9s all ease-in-out;
      height: 20rem;
      padding-bottom: 1rem;
      border-bottom-left-radius: 20px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      
  }
}